

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.page-content {
  flex: 1;
  padding: 0px;
  margin: 0;
  overflow-y: auto;
  padding-left: 250px;
}





