

.addcategory{
      
        min-height: 100vh;
        background-color: #3e3e3e;
        justify-content: center;
        align-items: center;
        padding: 60px 0;
        overflow-y: auto;
}
@media (max-width: 768px) {
.addcategory{
        margin-left: 0;
        margin-top: 0;
        padding: 20px 0;
    }
}