

.add-product-form input::placeholder,
.add-product-form textarea::placeholder {
  color: #bdbdbd; /* placeholder color */
  opacity: 1;
}

.submit-button {
  color: white;
  background: "linear-gradient(145deg, #3a3a3a, #1e1e1e)"
}

.submit-button:hover {
  color: rgb(205, 162, 7);
  transform: scale(1.1);
}