.credits{
    min-height: 100vh;
    background: linear-gradient(135deg, #1e1e1e, #252525);
    padding: 20px;
}

@media (max-width: 768px) {
.credits{
        margin-left: 0;
        padding: 10px;
        margin-top: 0;
        padding-top: 60px;
    }       
}