/* Global safety */


/* Main home wrapper */
.home {
  min-height: 100vh;
  background: #3e3e3e;
  padding-left: 250px; /* remove top padding, keep left for sidebar */
}

/* Title */
.home-title {
  color: #e6e6e6;
  margin: 0 0 20px 0;
  padding-top: 0;
  margin-top: 0;
}

/* Summary cards */
.summary-card1 {
  background: #2a2a2a;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.7),
    -4px -4px 10px rgba(255, 255, 255, 0.05);
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}



/* Chart */
.chart-card {
  background: #2a2a2a;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
}

/* Mobile */
@media (max-width: 768px) {
  .home {
    padding: 0 15px 20px 15px;
  }
}
