/* Global safety */
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Main home wrapper */
.home {
  min-height: 100vh;
  background: #3e3e3e;
  padding: 20px 40px;
   /* sidebar space for desktop */
}



/* Title */
.home-title {
  color: #e6e6e6;
  margin: 0 0 20px 0;
  padding-top: 40px !important;
  margin-top: 0;
}

/* Summary cards */
.summary-card {
  width: 100%;
  max-width: 260px;
}

.chart-card {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

@media (max-width: 1400px) {

  .home {
    padding: 20px;
  }
  .summary-card {
    max-width: 450px !important;
  }

  .home-title{
    padding-top: 60px;
  }

}
