.home-container {
   margin-left: 250px;
        min-height: 100vh;
        background-color: #3e3e3e;
        padding: 20px;
        margin-top: -160px;
}

.card{
    background: #2a2a2a;
              color: #fff;
              border-radius: 15px;
              padding: 20px;
              box-shadow:
                8px 8px 16px rgba(0,0,0,0.7), -8px -8px 16px rgba(255,255,255,0.05);
}



@media (max-width: 768px) {

.home-container {
        margin-left: 0;
        padding: 10px;
        margin-top: 0;
    }

    .card{
        width: 95%;
        margin-bottom: 30px;
    }
}