/* Global safety */
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Main home wrapper */
.home {
  min-height: 100vh;
 background: linear-gradient(135deg, #1e1e1e, #252525);
  padding: 20px 40px;
   /* sidebar space for desktop */
}



/* Title */
.home-title {
  color: #e6e6e6;
  margin: 0 0 20px 0;
  padding-top: 40px !important;
  margin-top: 0;
}

/* Summary cards */
.summary-card {
  width: 100%;
  max-width: 260px;
}

.chart-card {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  background-color: "#2a2a2a" !important;
}

.logout:hover{
  transform: scale(1.1);
  color: rgb(205, 162, 7) !important;
}

@media (max-width: 1400px) {

  .home {
    padding: 20px;
  }
  .summary-card {
    max-width: 450px !important;
  }

  .home-title{
    padding-top: 60px;
  }

}
