.products{
    min-height: 100vh;
    background: linear-gradient(135deg, #1e1e1e, #252525);

    margin: 0;
    padding: 10px;
    width : 100%;
}

@media (max-width: 768px) {
    .products {
        margin-left: 0;
        padding: 10px;
        width: 100%;
        margin-top: 0;
        padding-top: 60px;
    }
}