.products{
    min-height: 100vh;
    background-color: #3e3e3e;

    margin: 0;
    padding: 10px;
    width : 100%;
}

@media (max-width: 768px) {
    .products {
        margin-left: 0;
        padding: 10px;
        width: 100%;
        margin-top: 0;
    }
}