.submit-botton {
  color: white;
  background: "linear-gradient(145deg, #3a3a3a, #1e1e1e)"
}

.submit-button:hover {
  color: rgb(205, 162, 7);
  transform: scale(1.1);
}

.suppliers{
        min-height: 100vh;
        background-color: #3e3e3e;
        padding: 20px;
}

@media (max-width: 768px) {
.suppliers{
        margin-left: 0;
        padding: 10px;
        margin-top: 0;
        padding-top: 60px;
    }
}