.units{
        margin-left: 250px;
        margin-top: -160px;
        min-height: 100vh;
        background-color: #3e3e3e;
        padding: 20px;
}

@media (max-width: 768px) {
.units{
        margin-left: 0;
        padding: 10px;
        margin-top: 0;
    }
}